
@GREY: #3e3e3b;

body {
  background-color: @GREY;
}

*{
  color: white;
  font-family: 'Press Start 2P', cursive;
}

h1{
  color: darken(@GREY, 8%) !important;
}

#description{
  font-size: 0.7em;
}

.smaller{
  font-size: .85em;
}

.inQuestion {
  &:hover{
    cursor: pointer;
  }
}

.mainContainer {
  margin: 0 !important;
}

.qContainer {
  padding-left: 10%;
  padding-top: 4%;
  text-transform: lowercase;
  min-width: 950px;
}


#prompt {
  display: none;
  color: red !important;
  font-size: 0.6em;
}

#prompt2{
  #prompt
}

.textBox {
  border-bottom: darken(@GREY, 10%) 1px solid !important;
  width: 92%;
  height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  text-transform: none !important;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.sidePanel {
  background-color: lighten(@GREY, 13%);
  color: white;
  //height: 100vh;
  padding: 35px;
  min-height: 650px;
  height: inherit;
}

.questionButtons {
  .btn {
    width: 80px;
  }
}

.btn {
  margin-top: 5px;
  width: 150px !important;
  background-color: lighten(@GREY, 13%);
  color: white !important;

  &:hover{
    background-color: lighten(lighten(@GREY, 13%), 15%);
  }

  &:focus, &:active {
    outline: lighten(@GREY, 13%) !important;
  }
}

#show{
  width: 400px !important;
}

#undo {
  background-color: transparent;
  border: none !important;
  width: 100px !important;
}

.promptButton {
  background-color: transparent;
  border: none !important;
  &:hover{
    background-color: transparent;
  }
}

#description {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 5em;
  text-transform: none !important;
}

.icons{
  display: inline-block;
  text-align: center;
}

label{
  cursor: pointer;
}

#defaultData{
  cursor: pointer;
}

.makeLeft{
  text-align: left !important;
}

.marginBottom{
  margin-bottom: 50px;
}

.t1 {
  padding-left: 10px;
}
.t2 {
  padding-left: 20px;
}


