

.inQuestion {
  &:hover{
    cursor: pointer;
  }
}

.mainContainer {
  margin: 0 !important;
}

.qContainer {
  padding-left: 10%;
  padding-top: 4%;
  text-transform: lowercase;
}

#prompt {
  display: none;
  color: red;
}

.scroll {
  overflow-y: scroll;
}

.textBox {
  width: 98%;
  height: 200px;
  border: solid black 1px;
  margin-bottom: 4px;
  padding: 10px;
  text-transform: none !important;
}

.sidePanel {
  background-color: lightgray;
  color: white;
  height: 100vh;
  padding-right: 0 !important;
}

.questionButtons {
  .btn {
    width: 80px;
  }
}

.btn {
  margin-top: 5px;
  background-color: blue;
  border-color: blue;
  color: white !important;

  &:hover{
    background-color: lighten(blue, 15%);
  }
}
#undo {
  color: black !important;
  background-color: transparent;
  border: none !important;
}

.prBut {
  background-color: transparent;
  border: none !important;
  &:hover{
    background-color: transparent;
  }
}

#description {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 5em;
  text-transform: none !important;
}

.icons{
  display: inline-block;
  text-align: center;
}

#upload{
  cursor: pointer;
}

#defaultData{
  #upload
}



*{
  //border: 1px red solid !important;
}